.header-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #2a3f54;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-toolbar-icon {
  margin-right: 10px;
  color: white;
}

.header-toolbar-spacer {
  flex: 1;
}

.login-button {
  background-color: #1f2d42;
  color: white;
  font-weight: bold;
}

.login-button mat-icon {
  margin-right: 5px;
}
